<li>
    <p>
     <% if(locals.user && locals.user.id == comment.user.id) { %>
           <small>
                 <a id="delete-atag" href="/comments/destroy/<%= comment.id %>">X</a>
           </small>
    <% } %>

        <%= comment.content %>
           <br>
           <small>
                 <%= comment.user.name %>
           </small>
   
    </p>
</li>