<footer>
    <p>@Copyrights belongs to <b>Niranjan P B</b></p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div>
        
        <p> <a href='/'> Home </a>   </p>  
        <p>  <a href="/users/profile">  Profile</a>  </p>
    </div> 
     
    

  
</footer>