html{
   height: 100%;
}
#home-container{
   min-height: 100%;
   display: flex;

   #feed-posts{
      width: 50%;
      padding: 10px;
   }
   #user-all{
      width:30px;
      padding: 10px;
      border-left: 1px solid gray;

      a{
         color: rgb(34, 185, 190);
      }
     }
     

   /* change*/
   #user-friends{
      width:50px;
      padding: 10px;
      border-left: 1px solid gray;
     }
   /* change*/
     
}

#delete-atag{
    
   color: red;
}
.toggle-like-buttton{
   color:rgb(68, 184, 50)
}

