#home-container{
   display: flex;

   #feed-posts{
      width: 70%;
      padding: 10px;
   }
   #user-friends{
      width:30px;
      padding: 10px;
      border-left: 1px solid gray;
     }
     a{
        color: green;
     }
}