footer {
  height: 50px;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center; }
  footer div {
    display: block; }
    footer div a {
      text-decoration: none;
      color: white; }
    footer div a:hover {
      color: #070707;
      text-decoration: underline; }
