.div-home {
  display: flex;
  justify-content: space-between; }

.litag {
  list-style-type: none; }
  .litag a {
    text-decoration: none;
    color: white; }
  .litag a:hover {
    color: black;
    text-decoration: underline; }
