.div-home {
  display: flex;
  justify-content: space-between; }

.litag {
  list-style-type: none; }
  .litag a {
    text-decoration: none;
    color: white; }
  .litag a:hover {
    color: black;
    text-decoration: underline; }

header {
  background-color: #28379d;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
