#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30px;
    padding: 10px;
    border-left: 1px solid gray; }
  #home-container a {
    color: green; }

#delete-atag {
  color: red; }
