footer{
    height: 50px;
    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
  
  div{
   
    display: block;
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: rgb(7, 7, 7);
        text-decoration: underline;
     }

}
}

