.div-home{
    display: flex;
    justify-content: space-between;
}
.litag{
    list-style-type: none;
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
       color: black;
       text-decoration: underline;
    }
}

header{
    background-color: rgb(40, 55, 157);
    color: white;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}